{% extends 'blogs/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
    <h1>{{blog.topic}}
        <a>{{ blog.date_added|date:'M d, Y H:i' }}</a></h1>
{% endblock page_header %}

{% block content %}
    <p>
        {{blog.text|linebreaks}}
        <a href="{%url 'blogs:edit_blog' blog.id%}">Edit blog</a>
    </p>
    {% for comment in comments %}
    <div class="card mb-3">  
        <h4 class="card-header"> 
            {{comment.owner}} 
            <small>{{ comment.date_added|date:'M d, Y H:i' }}</small>
            <small><a href="{% url 'blogs:edit_comment' comment.id %}"> 
                edit comment</a></small> 
        </h4>
        <!-- Card body with entry text -->
        <div class="card-body">{{ comment.comment|linebreaks }}
            <small><a href="{% url 'blogs:delete_comment' comment.id %}"> Delete comment</a></small>
        </div>
    </div>
    {% empty %}
        <p>No Comments.</p>
    {% endfor %}
    <p>New Comment</p>
    <form action="{% url 'blogs:add_comment' blog.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type='submit' content='Save comment' %}
    </form>
{% endblock content %}    